.about {
  display: flex;
  justify-content: space-between;
  width: 1280px;
  margin: auto;
}
.about-content > p {
  margin-top: 40px;
  width: 400px;
}
.about-wrapper {
  /* background: black; */
}
.about-image {
  /* background: url("../../assets//img/cylinder.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 600px;
  height: 900px; */
}
