.changer {
  background: white;
  color: black;
}
.secret-wrapper {
  margin-top: 300px;
}
.secret-header {
  margin-bottom: 100px;
}
@media (max-width: 960px) {
  .secret-wrapper {
    margin-top: 100px;
  }
}
